<app-lecteur-nav></app-lecteur-nav>
<div class="container py-4">
    <div class="container"> <!-- Section des nouveautés -->
      <section class="text-center mb-5">
        <h1 class="fw-bold mb-3">📚 Mes emprunts</h1>
      </section>
  
   
   
  
    <!-- Table to display books -->
    <div class="table-responsive shadow-lg rounded">
      <table class="table table-hover align-middle">
        <thead class="bg-success text-white">
        <tr>
          <th>Image</th>
          <th>Titre</th>
          <th>Date Emprunt</th>
          <th>État</th>
          <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let livre of livres" class="border-bottom">
          <td>
            <img *ngIf="livre.image" [src]="livre.image"
                 alt="{{ livre.titre }}"
                 class="img-thumbnail rounded"
                 style="width: 60px; height: auto;">
  
          </td>
          <td class="fw-semibold">{{ livre.titre }}</td>
          <td>{{ livre.date }}</td>
          <td>
            <span 
              class="badge text-white px-2 py-1"
              [ngClass]="{
                'bg-success': livre.etat === 'Rendu',
                'bg-danger': livre.etat === 'En retard',
                'bg-primary': livre.etat === 'En cours'
              }">
              {{ livre.etat }}
            </span>
          </td>
          <td>
            <button class="btn btn-outline-primary btn-sm w-100 d-flex align-items-center justify-content-center">
              <i class="bi bi-pencil-square me-2"></i> Détails
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  